In [1]:
import numpy as np
import numpy.ma as ma
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import cartopy
import cartopy.crs as ccrs 
import cartopy.feature as cfeature
from cartopy.mpl.gridliner import LONGITUDE_FORMATTER, LATITUDE_FORMATTER
from shapely.geometry import Point, LineString
import geopandas as gpd
from matplotlib.ticker import AutoMinorLocator

In [3]:
filename = 'data_new.txt'

# df2 = pd.read_csv(filename, delim_whitespace=True, skiprows=None, header=None, names=['time', 'wdir', 'wvht', 'dpd', 'apd', 'mwd', 'wtmp', 'minute'])
df2 = pd.read_csv(filename, delim_whitespace=True, skiprows=1, header=None, names=['date', 'hour', 'wdir', 'wvht', 'dpd', 'apd', 'mwd', 'wtmp'])

df2.head()

         date      hour   wdir  wvht   dpd   apd  mwd  wtmp
0  2000-01-01  00:00:00  297.0  1.22  7.14  5.68  323  11.6
1  2000-01-01  01:00:00  305.0  1.33  6.67  5.60  320  11.7
2  2000-01-01  02:00:00  302.0  1.29  7.14  5.41  324  11.6
3  2000-01-01  03:00:00  304.0  1.22  7.14  5.70  320  11.6
4  2000-01-01  04:00:00  292.0  1.27  6.67  5.90  321  11.6

In [3]:
### convert to datetime index
date_cols = ['date','hour']
df2['time'] = pd.to_datetime(df2[date_cols])

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing